html {
    font-size: 30px;
}
.title {
    margin-left: 30px;
}

.box-img {
    display: flex;
    width: 97%;
    margin: 0 auto;
    flex-wrap: wrap;                /* xuống hàng khi vượt quá px màn hìh*/
}

.img-column {
    display: flex;
    flex-direction: column;
    width: 25%;    
    padding: 10px;
    box-sizing: border-box;         /* thiết lập giá trị này thì sẽ bao gồm cả phần nội dung và padding*/
}

input{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 30PX;
    border: 1px solid grey;
    /* border-bottom: 1px solid grey; */
    border-radius: 20px;
}

img {
    margin-bottom: 15px;
    border-radius: 5%;           /* viền ảnh */
    width: 100%;
}

.image{
    position: relative;
}

.icon{
    position: absolute;
    left: 15px;
    bottom: 20px;
    border-radius: 50%;
    width: 10%;
    visibility: hidden;
}

.image:hover .icon{
    visibility: visible;
}


@media screen and (max-width: 800px) {
    body {
        background-color: lightblue;
    }
    .img-column {
        width: 50%;
    }
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: grey;
    }
    .img-column {
        width: 100%;
    }
    html {
        font-size: 10px;
    }
}